/*Fontes do site*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,300&family=Yanone+Kaffeesatz:wght@200;300;400;700&display=swap');


/*Adicionando os estilos padrões*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

/*======Formatação do HEADER======*/
header{
    width: 100%;
    height: 80px;
    background: rgba(203, 239, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 999;
}

header .logo{
      /*Editando a div do meu logo */
    width: 50%;  
}
header .logo img{
      /*Formatando a imagem do meu logo */
      width: 55px;
      cursor: pointer;
}

header .menu ul{
    /*Formatando os itens da lista */
    display: flex;
}

header .menu li{
     /*Formatando os itens da lista */
     padding: 0 20px;
     list-style: none;
 }

 header .menu li a{
     text-decoration: none;
     text-transform: uppercase;
     color: aliceblue;
     transition: 0.7s ease;
 }

 header .menu ul li a:hover {
    /*Formatando os links da lista/mouse estiver passando */
    color: #48A1D9;
}

/*=====Formatando o BODY=====*/

body{
    width: 100%;
    height: 100vh;
    background-color: #48A1D9;
}

/*======Formatação da HOME ====*/
#sobre .container {
    /*Formatando o container */
    width: 100%;
    height: 100vh;
    background: url(../img/fundoSobre.jpg);
    background-size: cover;
}

#sobre .container .icones{
     /*Formatando a div dos icones */
    width: 10%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 35px;
    position: fixed;
    z-index: 999;
}

#sobre .container .icones ion-icon{
     /*Formatando os icones */
    padding: 30px 0;
    font-size: 1.7rem;
    color: aliceblue;
    transition:  0.5s ease;

}

#sobre .container .icones ion-icon:hover{
      /*Formatando a transição icones*/
    color: #48A1D9;
}

#sobre .container .titulo{
    /*Formatando os titulos do sobre*/
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
}

#sobre .container .titulo h1{
    /*Formatando o h1 */
    color: aliceblue;
    text-transform: uppercase;
    font-size: 5.3rem;
    letter-spacing: 5px;
}

#sobre .container .titulo h3{
    /*Formatando o h3 */
    color: aliceblue;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-left: 30px;
    letter-spacing: 20px;
    padding-top: 20px;

}
#sobre .container .titulo p{
    /*Formatando o paragrafo*/
    color: aliceblue;
    width: 750px;
    margin-top: 25px;
    

}

#sobre .container .linha{
    width: 800px;
    height: 1px;
    background: aliceblue;
    margin-top: -100px;
    margin-left: 280px;


}




