@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,300&family=Yanone+Kaffeesatz:wght@200;300;400;700&display=swap');

/*Estilo padrão para página*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/*======Formatação do Header====== */
header{
    width: 100%;
    height: 80px;
    background: rgba(52, 191, 255, 0.2);
    display: flex; /*Usando flex box para responsividade */
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 99;
}

header .logo{
    /*Editando a div do meu logo */
    width: 50%;
}

header .logo img{
    /*Formatando a imagem do meu logo */
    width: 55px;
    cursor: pointer;
}

header .menu ul{
    /*Formatando a lista do menu */
    display: flex;
}

header .menu ul li{
    /*Formatando os itens da lista */
    padding: 0 20px;
    list-style: none;
}

header .menu ul li a{
    /*Formatando os links da minha lista*/
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
    transition: 0.7s ease;
}
header .menu ul li a:hover {
    /*Formatando os links da lista/mouse estiver passando */
    color: #48A1D9;

}


/*======Formatando o BODY ======*/

body{
    width: 100%;
    height: 100vh;
    background-color: #48A1D9;
 
}  

/*======Formatação da HOME ======*/
#home .container{
    /*Formatando a div container */
    width: 100%;
    height: 100vh;
    background: url(../img/FundoHome.jpg);
    background-size: cover;
}

#home .container .icones{
    /*Formatando a div dos icones */
    width: 10%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 35px;
    position: fixed;
    z-index: 999;

}
#home .container .icones ion-icon{
    /*Formatando os icones */
    padding: 30px 0;
    font-size: 1.7rem;
    color: aliceblue;
    transition:  0.5s ease;

}
#home .container .icones ion-icon:hover{
     /*Formatando a transição icones*/
     color: #48A1D9;

}

#home .container .titulo{
    /*Formatando os titulos da home*/
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
}

#home .container .titulo h1{
    /*Formatando o h1 */
    color: aliceblue;
    text-transform: uppercase;
    font-size: 5.3rem;
    letter-spacing: 5px;
}

#home .container .titulo h2{
    /*Formatando o h2 */
    color: aliceblue;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-left: 30px;
    letter-spacing: 40px;
} 

#home .container .titulo h3{
    /*Formatando o h3 */
    color: aliceblue;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-left: 30px;
    letter-spacing: 20px;
    padding-top: 20px;

}


/*====Formatação da section ABOUT=====*/

#about .container{
    /*Formatando a section do container */
    width: 100%;
    height: 100vh;
    background: url(../img/fundo2.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
 
}
#about .container .titulo{
    /*Formatando os titulos da section*/
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 60px
}


#about .container .titulo h1{
    /*Formatando o h1*/
    color: aliceblue;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: left;

}

#about .container .titulo p{
    /*Formatando o paragrafo*/
    color: aliceblue;
    width: 500px;
    margin-top: 25px;

}

#about .container .box-titulo{
    /*Formatando a caixa de titulo*/
    width: 420px;
    height: 49vh;
    margin-top: 20px;
    padding: 0 10px;
    box-shadow: 0 0 10px 0 rgba(11, 100, 184, 0.5);
    border-radius: 20px;
    background: rgba(146, 255, 210, 0.089);

}

#about .container .box-titulo span{
     /*Formatando o span */
     color: aliceblue;
     

}
#about .container .box-titulo .barra1{
    /*Formatando a barra 1*/
    width: 400px;
    height: 8px;
    background: aliceblue;
    margin-top: 3px;
    border-radius: 20px;
}

#about .container .box-titulo .barra2{
      /*Formatando a barra 2*/
    width: 400px;
    height: 8px;
    background: #48A1D9;
    border-radius: 5px;
}


#about .container .box-titulo .barra3{
    /*Formatando a barra3*/
    width: 400px;
    height: 8px;
    background: #48A1D9;
    border-radius: 5px;
}

#about .container .box-titulo .barra4{
    /*Formatando a barra4*/
    width: 320px;
    height: 8px;
    background: #48A1D9;
    border-radius: 5px;
}

#about .container .box-titulo .barra5{
    /*Formatando a barra4*/
    width: 400px;
    height: 8px;
    background: #48A1D9;
    border-radius: 5px;
}

/*======Formatação do ABOUT2======*/

#about2 .container{
    /*Formatando o abou2*/
    width: 100%;
    height: 100vh;
    background: url(../img/about2.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

#about2 .container .titulo2{
    /*Formatando o titulo2*/
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 60px;
}

#about2 .container .titulo2 h1{
    /*Formatando o h1*/
    color: aliceblue;
    text-transform: uppercase;
    font-size: 2rem;
    
    
}
#about2 .container .titulo2 p{
    /*Formatando o paragrafo*/
    color: aliceblue;
    width: 550px;
    margin-top: 25px;
}

#about2 .container .titulo2 span{
    /*Formatando o span */
    color: aliceblue

}

#about2 .container .box-titulo2{
     /*Formatando a caixa de titulo*/
     width: 420px;
     height: 40vh;
     margin-top: 20px;
     padding: 0 10px;
     box-shadow: 0 0 10px 0 rgba(11, 100, 184, 0.5);
     border-radius: 20px;
     background: rgba(11, 100, 184, 0.15);
     
}  

#about2 .container .box-titulo2 span{
    /*Formatando o span*/
    color: aliceblue;
}

#about2 .container .box-titulo2 .barra1{
    width: 400px;
    height: 8px;
    background: aliceblue;
    margin-top: 2px;
    border-radius: 20px;            
}
#about2 .container .box-titulo2 .barra6{
    width: 400px;
    height: 8px;
    background: #48A1D9;
    border-radius: 5px;
}

#about2 .container .box-titulo2 .barra7{
    width: 400px;
    height: 8px;
    background: #48A1D9;
    border-radius: 5px;
}

#about2 .container .box-titulo2 .barra8{
    width: 400px;
    height: 8px;
    background: #48A1D9;
    border-radius: 5px;
}



/*======Formatando o footer=====*/
footer{
    width: 100%;
    height: 50px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    background: rgba(11, 100, 184, 0.2);
    position: relative;
    top: -50px;
}

footer a{
    text-decoration: none;
    color: #043350;
}



